@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 78, 78);
  font-family: Poppins, arial, helvetica;
  margin: 3rem;
  color: rgb(209, 209, 209);
}

header {
  padding: 10px;
}

section {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(166, 211, 211);
  color: black;
  font-family: inherit;
  font-size: 18px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.meal_button:hover {
  background-color: rgb(74, 206, 206);
}

.section_1 {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .family_picture {
    max-width: 100%;
    height: auto;
  }

  .header_title {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }

  .button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .family_picture {
    max-width: 25%;
    height: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_title {
    font-size: 48px;
    font-weight: 500;
  }

  .section_1 {
    display: flex;
    justify-content: center;
  }

  .button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  .meal_button {
    width: 25%;
  }
}
